<?xml version="1.0" encoding="utf-8"?>
<Settings version="[VERSION]">
	<PreviousRepositoryUrl></PreviousRepositoryUrl>
	<LoadPreviousRepositoryOnStartup>false</LoadPreviousRepositoryOnStartup>
	<RepositoryHistoryLength>8</RepositoryHistoryLength>
	<RecentRepositories>
	</RecentRepositories>
	<TortoisePath>C:\Program Files\TortoiseSVN\bin</TortoisePath>
	<MaxFetchingThreads>10</MaxFetchingThreads>
	<FileExtensionBlacklist>
		<e>.3dm</e>
		<e>.3dmbak</e>
		<e>.3ds</e>
		<e>.3g2</e>
		<e>.3gp</e>
		<e>.7z</e>
		<e>.DS_Store</e>
		<e>.a</e>
		<e>.aac</e>
		<e>.adp</e>
		<e>.ai</e>
		<e>.aif</e>
		<e>.aiff</e>
		<e>.alz</e>
		<e>.ape</e>
		<e>.apk</e>
		<e>.app</e>
		<e>.ar</e>
		<e>.arj</e>
		<e>.asf</e>
		<e>.au</e>
		<e>.avi</e>
		<e>.bak</e>
		<e>.baml</e>
		<e>.bh</e>
		<e>.bin</e>
		<e>.bk</e>
		<e>.blk</e>
		<e>.bmp</e>
		<e>.btif</e>
		<e>.bz2</e>
		<e>.bzip2</e>
		<e>.cab</e>
		<e>.caf</e>
		<e>.cam</e>
		<e>.cat</e>
		<e>.cfg_sae</e>
		<e>.cgm</e>
		<e>.class</e>
		<e>.cmx</e>
		<e>.cpio</e>
		<e>.cr2</e>
		<e>.csdfa</e>
		<e>.cur</e>
		<e>.dat</e>
		<e>.db</e>
		<e>.dcm</e>
		<e>.deb</e>
		<e>.dentalcad</e>
		<e>.dex</e>
		<e>.djvu</e>
		<e>.dll</e>
		<e>.dmg</e>
		<e>.dng</e>
		<e>.doc</e>
		<e>.docm</e>
		<e>.docx</e>
		<e>.dot</e>
		<e>.dotm</e>
		<e>.dra</e>
		<e>.drmsdfa</e>
		<e>.dsk</e>
		<e>.dts</e>
		<e>.dtshd</e>
		<e>.dvb</e>
		<e>.dwg</e>
		<e>.dxf</e>
		<e>.ebin</e>
		<e>.ecelp4800</e>
		<e>.ecelp7470</e>
		<e>.ecelp9600</e>
		<e>.egg</e>
		<e>.eoff</e>
		<e>.eol</e>
		<e>.eot</e>
		<e>.epub</e>
		<e>.eqp</e>
		<e>.exe</e>
		<e>.f4v</e>
		<e>.fbs</e>
		<e>.fh</e>
		<e>.firmware</e>
		<e>.fla</e>
		<e>.flac</e>
		<e>.fli</e>
		<e>.flv</e>
		<e>.fpga</e>
		<e>.fpx</e>
		<e>.fst</e>
		<e>.fvt</e>
		<e>.fw</e>
		<e>.g3</e>
		<e>.gh</e>
		<e>.gif</e>
		<e>.graffle</e>
		<e>.gz</e>
		<e>.gzip</e>
		<e>.h261</e>
		<e>.h263</e>
		<e>.h264</e>
		<e>.hmi</e>
		<e>.icns</e>
		<e>.ico</e>
		<e>.ief</e>
		<e>.img</e>
		<e>.ipa</e>
		<e>.iso</e>
		<e>.jar</e>
		<e>.jpeg</e>
		<e>.jpg</e>
		<e>.jpgv</e>
		<e>.jpm</e>
		<e>.jxr</e>
		<e>.key</e>
		<e>.ktx</e>
		<e>.lha</e>
		<e>.lib</e>
		<e>.lvp</e>
		<e>.lz</e>
		<e>.lzh</e>
		<e>.lzma</e>
		<e>.lzo</e>
		<e>.m3u</e>
		<e>.m4a</e>
		<e>.m4v</e>
		<e>.mar</e>
		<e>.mdi</e>
		<e>.mht</e>
		<e>.mid</e>
		<e>.midi</e>
		<e>.mj2</e>
		<e>.mka</e>
		<e>.mkv</e>
		<e>.mmr</e>
		<e>.mng</e>
		<e>.mobi</e>
		<e>.mov</e>
		<e>.movie</e>
		<e>.mp3</e>
		<e>.mp4</e>
		<e>.mp4a</e>
		<e>.mpeg</e>
		<e>.mpg</e>
		<e>.mpga</e>
		<e>.mxu</e>
		<e>.nef</e>
		<e>.npx</e>
		<e>.numbers</e>
		<e>.nupkg</e>
		<e>.o</e>
		<e>.obj</e>
		<e>.off</e>
		<e>.oga</e>
		<e>.ogg</e>
		<e>.ogv</e>
		<e>.otf</e>
		<e>.pages</e>
		<e>.pbm</e>
		<e>.pcx</e>
		<e>.pdb</e>
		<e>.pdf</e>
		<e>.pea</e>
		<e>.pgm</e>
		<e>.pic</e>
		<e>.png</e>
		<e>.png_stw</e>
		<e>.pnm</e>
		<e>.pot</e>
		<e>.potm</e>
		<e>.potx</e>
		<e>.ppa</e>
		<e>.ppam</e>
		<e>.ppm</e>
		<e>.pps</e>
		<e>.ppsm</e>
		<e>.ppsx</e>
		<e>.ppt</e>
		<e>.pptm</e>
		<e>.pptx</e>
		<e>.psd</e>
		<e>.pya</e>
		<e>.pyc</e>
		<e>.pyo</e>
		<e>.pyv</e>
		<e>.qt</e>
		<e>.rar</e>
		<e>.ras</e>
		<e>.raw</e>
		<e>.reg</e>
		<e>.resources</e>
		<e>.rgb</e>
		<e>.rip</e>
		<e>.rlc</e>
		<e>.rmf</e>
		<e>.rmvb</e>
		<e>.rtf</e>
		<e>.rz</e>
		<e>.s3m</e>
		<e>.s7z</e>
		<e>.scpt</e>
		<e>.sdfa</e>
		<e>.sgi</e>
		<e>.shar</e>
		<e>.sil</e>
		<e>.sketch</e>
		<e>.slk</e>
		<e>.smv</e>
		<e>.snk</e>
		<e>.so</e>
		<e>.spl</e>
		<e>.sqlite</e>
		<e>.stl</e>
		<e>.sub</e>
		<e>.suo</e>
		<e>.swf</e>
		<e>.sys</e>
		<e>.tar</e>
		<e>.tbz</e>
		<e>.tbz2</e>
		<e>.tga</e>
		<e>.tgz</e>
		<e>.thmx</e>
		<e>.tif</e>
		<e>.tiff</e>
		<e>.tlz</e>
		<e>.ttc</e>
		<e>.ttf</e>
		<e>.txz</e>
		<e>.udf</e>
		<e>.uvh</e>
		<e>.uvi</e>
		<e>.uvm</e>
		<e>.uvp</e>
		<e>.uvs</e>
		<e>.uvu</e>
		<e>.v17inf__</e>
		<e>.v17prg__</e>
		<e>.viv</e>
		<e>.vob</e>
		<e>.war</e>
		<e>.wav</e>
		<e>.wax</e>
		<e>.wbmp</e>
		<e>.wdp</e>
		<e>.weba</e>
		<e>.webm</e>
		<e>.webp</e>
		<e>.whl</e>
		<e>.wim</e>
		<e>.wm</e>
		<e>.wma</e>
		<e>.wmv</e>
		<e>.wmx</e>
		<e>.woff</e>
		<e>.woff2</e>
		<e>.wrm</e>
		<e>.wvx</e>
		<e>.xbm</e>
		<e>.xif</e>
		<e>.xla</e>
		<e>.xlam</e>
		<e>.xls</e>
		<e>.xlsb</e>
		<e>.xlsm</e>
		<e>.xlsx</e>
		<e>.xlt</e>
		<e>.xltm</e>
		<e>.xltx</e>
		<e>.xm</e>
		<e>.xmind</e>
		<e>.xpi</e>
		<e>.xpm</e>
		<e>.xwd</e>
		<e>.xz</e>
		<e>.z</e>
		<e>.zip</e>
		<e>.zipx</e>
	</FileExtensionBlacklist>
</Settings>