<?xml version="1.0" encoding="utf-8"?>
<Settings version="[VERSION]">
	<PreviousRepositoryUrl></PreviousRepositoryUrl>
	<LoadPreviousRepositoryOnStartup>false</LoadPreviousRepositoryOnStartup>
	<RepositoryHistoryLength>8</RepositoryHistoryLength>
	<RecentRepositories>
	</RecentRepositories>
	<TortoisePath>C:\Program Files\TortoiseSVN\bin</TortoisePath>
	<MaxFetchingThreads>10</MaxFetchingThreads>
	<FileExtensionBlacklist>
		<string>.3dm</string>
		<string>.3dmbak</string>
		<string>.3ds</string>
		<string>.3g2</string>
		<string>.3gp</string>
		<string>.7z</string>
		<string>.DS_Store</string>
		<string>.a</string>
		<string>.aac</string>
		<string>.adp</string>
		<string>.ai</string>
		<string>.aif</string>
		<string>.aiff</string>
		<string>.alz</string>
		<string>.ape</string>
		<string>.apk</string>
		<string>.app</string>
		<string>.ar</string>
		<string>.arj</string>
		<string>.asf</string>
		<string>.au</string>
		<string>.avi</string>
		<string>.bak</string>
		<string>.baml</string>
		<string>.bh</string>
		<string>.bin</string>
		<string>.bk</string>
		<string>.blk</string>
		<string>.bmp</string>
		<string>.btif</string>
		<string>.bz2</string>
		<string>.bzip2</string>
		<string>.cab</string>
		<string>.caf</string>
		<string>.cam</string>
		<string>.cat</string>
		<string>.cfg_sae</string>
		<string>.cgm</string>
		<string>.class</string>
		<string>.cmx</string>
		<string>.cpio</string>
		<string>.cr2</string>
		<string>.csdfa</string>
		<string>.cur</string>
		<string>.dat</string>
		<string>.db</string>
		<string>.dcm</string>
		<string>.deb</string>
		<string>.dentalcad</string>
		<string>.dex</string>
		<string>.djvu</string>
		<string>.dll</string>
		<string>.dmg</string>
		<string>.dng</string>
		<string>.doc</string>
		<string>.docm</string>
		<string>.docx</string>
		<string>.dot</string>
		<string>.dotm</string>
		<string>.dra</string>
		<string>.drmsdfa</string>
		<string>.dsk</string>
		<string>.dts</string>
		<string>.dtshd</string>
		<string>.dvb</string>
		<string>.dwg</string>
		<string>.dxf</string>
		<string>.ebin</string>
		<string>.ecelp4800</string>
		<string>.ecelp7470</string>
		<string>.ecelp9600</string>
		<string>.egg</string>
		<string>.eoff</string>
		<string>.eol</string>
		<string>.eot</string>
		<string>.epub</string>
		<string>.eqp</string>
		<string>.exe</string>
		<string>.f4v</string>
		<string>.fbs</string>
		<string>.fh</string>
		<string>.firmware</string>
		<string>.fla</string>
		<string>.flac</string>
		<string>.fli</string>
		<string>.flv</string>
		<string>.fpga</string>
		<string>.fpx</string>
		<string>.fst</string>
		<string>.fvt</string>
		<string>.fw</string>
		<string>.g3</string>
		<string>.gh</string>
		<string>.gif</string>
		<string>.graffle</string>
		<string>.gz</string>
		<string>.gzip</string>
		<string>.h261</string>
		<string>.h263</string>
		<string>.h264</string>
		<string>.hmi</string>
		<string>.icns</string>
		<string>.ico</string>
		<string>.ief</string>
		<string>.img</string>
		<string>.ipa</string>
		<string>.iso</string>
		<string>.jar</string>
		<string>.jpeg</string>
		<string>.jpg</string>
		<string>.jpgv</string>
		<string>.jpm</string>
		<string>.jxr</string>
		<string>.key</string>
		<string>.ktx</string>
		<string>.lha</string>
		<string>.lib</string>
		<string>.lvp</string>
		<string>.lz</string>
		<string>.lzh</string>
		<string>.lzma</string>
		<string>.lzo</string>
		<string>.m3u</string>
		<string>.m4a</string>
		<string>.m4v</string>
		<string>.mar</string>
		<string>.mdi</string>
		<string>.mht</string>
		<string>.mid</string>
		<string>.midi</string>
		<string>.mj2</string>
		<string>.mka</string>
		<string>.mkv</string>
		<string>.mmr</string>
		<string>.mng</string>
		<string>.mobi</string>
		<string>.mov</string>
		<string>.movie</string>
		<string>.mp3</string>
		<string>.mp4</string>
		<string>.mp4a</string>
		<string>.mpeg</string>
		<string>.mpg</string>
		<string>.mpga</string>
		<string>.mxu</string>
		<string>.nef</string>
		<string>.npx</string>
		<string>.numbers</string>
		<string>.nupkg</string>
		<string>.o</string>
		<string>.obj</string>
		<string>.off</string>
		<string>.oga</string>
		<string>.ogg</string>
		<string>.ogv</string>
		<string>.otf</string>
		<string>.pages</string>
		<string>.pbm</string>
		<string>.pcx</string>
		<string>.pdb</string>
		<string>.pdf</string>
		<string>.pea</string>
		<string>.pgm</string>
		<string>.pic</string>
		<string>.png</string>
		<string>.png_stw</string>
		<string>.pnm</string>
		<string>.pot</string>
		<string>.potm</string>
		<string>.potx</string>
		<string>.ppa</string>
		<string>.ppam</string>
		<string>.ppm</string>
		<string>.pps</string>
		<string>.ppsm</string>
		<string>.ppsx</string>
		<string>.ppt</string>
		<string>.pptm</string>
		<string>.pptx</string>
		<string>.psd</string>
		<string>.pya</string>
		<string>.pyc</string>
		<string>.pyo</string>
		<string>.pyv</string>
		<string>.qt</string>
		<string>.rar</string>
		<string>.ras</string>
		<string>.raw</string>
		<string>.reg</string>
		<string>.resources</string>
		<string>.rgb</string>
		<string>.rip</string>
		<string>.rlc</string>
		<string>.rmf</string>
		<string>.rmvb</string>
		<string>.rtf</string>
		<string>.rz</string>
		<string>.s3m</string>
		<string>.s7z</string>
		<string>.scpt</string>
		<string>.sdfa</string>
		<string>.sgi</string>
		<string>.shar</string>
		<string>.sil</string>
		<string>.sketch</string>
		<string>.slk</string>
		<string>.smv</string>
		<string>.snk</string>
		<string>.so</string>
		<string>.spl</string>
		<string>.sqlite</string>
		<string>.stl</string>
		<string>.sub</string>
		<string>.suo</string>
		<string>.swf</string>
		<string>.sys</string>
		<string>.tar</string>
		<string>.tbz</string>
		<string>.tbz2</string>
		<string>.tga</string>
		<string>.tgz</string>
		<string>.thmx</string>
		<string>.tif</string>
		<string>.tiff</string>
		<string>.tlz</string>
		<string>.ttc</string>
		<string>.ttf</string>
		<string>.txz</string>
		<string>.udf</string>
		<string>.uvh</string>
		<string>.uvi</string>
		<string>.uvm</string>
		<string>.uvp</string>
		<string>.uvs</string>
		<string>.uvu</string>
		<string>.v17inf__</string>
		<string>.v17prg__</string>
		<string>.viv</string>
		<string>.vob</string>
		<string>.war</string>
		<string>.wav</string>
		<string>.wax</string>
		<string>.wbmp</string>
		<string>.wdp</string>
		<string>.weba</string>
		<string>.webm</string>
		<string>.webp</string>
		<string>.whl</string>
		<string>.wim</string>
		<string>.wm</string>
		<string>.wma</string>
		<string>.wmv</string>
		<string>.wmx</string>
		<string>.woff</string>
		<string>.woff2</string>
		<string>.wrm</string>
		<string>.wvx</string>
		<string>.xbm</string>
		<string>.xif</string>
		<string>.xla</string>
		<string>.xlam</string>
		<string>.xls</string>
		<string>.xlsb</string>
		<string>.xlsm</string>
		<string>.xlsx</string>
		<string>.xlt</string>
		<string>.xltm</string>
		<string>.xltx</string>
		<string>.xm</string>
		<string>.xmind</string>
		<string>.xpi</string>
		<string>.xpm</string>
		<string>.xwd</string>
		<string>.xz</string>
		<string>.z</string>
		<string>.zip</string>
		<string>.zipx</string>
	</FileExtensionBlacklist>
  <ColumnOneWidth>200</ColumnOneWidth>
  <ColumnTwoWidth>200</ColumnTwoWidth>
  <ColumnTextViewer>200</ColumnTextViewer>
  <ColumnRepoViewWidth>200</ColumnRepoViewWidth>
  <ColumnResultViewWidth>200</ColumnResultViewWidth>
  <WindowHeight>724</WindowHeight>
  <WindowWidth>1118</WindowWidth>
  <WindowIsMaximized>false</WindowIsMaximized>
</Settings>